@import "./root.css";

.flex-box-two-col-courses {

    flex-grow: 1;
    flex-direction: column;
    display: flex;
    row-gap: 1rem;
    width: 46%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem 0;
    /* background-color: var(--absolute-white); */
    border-radius: 0.6rem;  
    
}

@media (max-width: 25rem) {
    .flex-box-two-col-courses {
        flex-basis: calc(100%);
        align-items: flex-start;
        padding: 0.2rem;
    }
}

.courses-sections{
    padding: 2rem;
    background-color: var(--absolute-white);
    margin: 5%;
}
.img-courses{
    width: 30%;
}
/************* Five Even columns flex grid *****************/
.flex-grid-five-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-box-five-col {

    flex-grow: 1;
    flex-direction: column;
    display: flex;
    border-radius: 0.6rem;  
    width: 18%;
    height: 2rem;
    margin: 0 0 0 0.5rem;
    
}

.h1coursesnumber{
    font-size: var(--fs-primary-heading);
}

@media (max-width: 24.4em) {

    .flex-grid-five-col {
        flex-direction: column;
    }

    .flex-box-five-col {
        flex-basis: calc(100%);
        align-items: flex-start;
        padding: 0.8rem;
        gap: 0.6rem;
        width: 100%;
    }
    .hr-hidden{
        display: none;
    }
    .h1coursesnumber{
        font-size: var(--fs-primary-heading);
    }
}