@import "./root.css";

.flex-box-two-col-courses {

    flex-grow: 1;
    flex-direction: column;
    display: flex;
    row-gap: 1rem;
    width: 46%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem 0;
    /* background-color: var(--absolute-white); */
    border-radius: 0.6rem;  
    
}

@media (max-width: 25rem) {
    .flex-box-two-col-courses {
        flex-basis: calc(100%);
        align-items: flex-start;
        padding: 0.2rem;
    }
}

.courses-sections{
    padding: 2rem;
    background-color: var(--absolute-white);
    margin: 5%;
}
.img-courses{
    width: 30%;
}
/************* Five Even columns flex grid *****************/
.flex-grid-five-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-box-five-col {

    flex-grow: 1;
    flex-direction: column;
    display: flex;
    row-gap: 1rem;
    width: 14%;
    height: auto;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 0.6rem;  
    
}

@media (max-width: 24.4em) {

    .flex-grid-five-col {
        flex-direction: row;
    }

    .flex-box-five-col {
        flex-basis: calc(100%);
        align-items: flex-start;
        padding: 1.5rem;
    }
}