/* Figma Styles of your File */
:root {
    /* Colors */
    --absolute-white: #ffffff;
    --White-99: #FCFCFD;
    --White-97: #F7F7F8;
    --White-95: #F1F1F3;


    --absolute-black: #000000;

    --orange-50: rgb(255, 149, 0);
    --Orange-90: #FFEACC;

    --grey-10: #1A1A1A;
    --grey-15: #262626;
    --grey-30: #4c4c4d;
    --Grey-35: #59595A;

    /* Fonts */
    --ff-primary: 'Be Vietnam Pro', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 600;

    --fs-100: 0.875rem;
    --fs-150: 1rem;
    --fs-200: 1.125rem;
    --fs-300: 1.25rem;
    --fs-350: 1.375rem;
    --fs-400: 1.5rem;
    --fs-425: 1.75rem;
    --fs-450: 2.25rem;
    --fs-500: 2.375rem;
    --fs-600: 3rem;
    --fs-625: 3.125rem;
    --fs-650: 3.75rem;
    --fs-700: 5rem;

    --fs-body: var(--fs-200);
    --fs-primary-heading: var(--fs-600);
    --fs-secondary-heading: var(--fs-400);
    --fs-hero-title: var(--fs-600);
    --fs-hero-2nd-title: var(--fs-500);
    --fs-all-digits: var(--fs-700);

    --size-900: 5rem;
    --size-500: 2rem;
    --size-700: 3rem;
    --size-400: 1rem;
    --size-300: .8rem;
    --size-200: .6rem;
    --size-100: .4rem;


    --min-width: 100%;
    /* Default value for --min-width */
    --padding: 20px;
    /* Default value for --padding */
}


@media (max-width: 90em) {
    :root {
        --fs-body: var(--fs-150);
        --fs-primary-heading: var(--fs-500);
        --fs-secondary-heading: var(--fs-300);
        --fs-hero-title: var(--fs-450);
        --fs-hero-2nd-title: var(--fs-425);
        --fs-all-digits: var(--fs-650);
    }


}

@media (max-width: 24.4em) {
    :root {
        --fs-body: var(--fs-100);
        --fs-primary-heading: var(--fs-425);
        --fs-secondary-heading: var(--fs-300);
        --fs-hero-title: var(--fs-150);
        --fs-hero-2nd-title: var(--fs-100);
        --fs-all-digits: var(--fs-625);
    }

}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


nav {
    display: flex;
    justify-content: space-between;
    /* background: var(--absolute-white); */
    height: 80px;
    width: 75%;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.btn-wrapper-nav {
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    align-items: center;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(38, 35, 35);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: var(--Orange-90);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: var(--Grey-35);
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav{
        justify-content: flex-end;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--Orange-90);
        top: 10.5rem;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a:active {
        background: none;
        color: var(--orange-50);
    }

    #check:checked~ul {
        left: 0;
    }
}

@media (max-width: 290px) {
    

    label.checkbtn {
        padding: 0;
        font-size: 25px;
    }
}

/************hero section********/

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

.hero-external-image {
    position: relative;
    z-index: -1;
    left: 0.8rem;
    bottom: 2rem;
}
#hero-ext-image{
    position: relative;
    z-index: -1;
    left: -1.5rem;
    bottom:-0.8rem;
}



.main-title {
    padding: 0.5rem;
    border-radius: 12px;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: var(--White-99);
    border: 1px solid var(--White-95);
}

.logo-container {
    background-color: var(--Orange-90);
    display: flex;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 3rem;
    height: 3rem;
}

@media (max-width: 24.4em) {
    .logo-container {
        width: 1.8rem;
        height: 1.8rem;
        padding: 0.25rem;
    }

    .padding-hero {
        padding: 0;
    }

    .hero-container {
        padding: 0.5rem;
        gap: 1rem;
    }
}

.hero-2nd-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons-container {
    display: flex;
}

/****************hero image*************/
.hero-image {
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-image {
    width: 100%;
    height: auto;
}

.opened {
    display: block;
    position: fixed;
}

.icon-footer {
    display: flex;
    gap: .2rem;
}


/******************* font color *************/

.text-grey-10 {
    color: var(--grey-10);
}

.text-grey-15 {
    color: var(--grey-15);
}

.text-grey-30 {
    color: var(--grey-30);
}

.text-grey-35 {
    color: var(--grey-35);
}

.text-white-100 {
    color: var(--absolute-white);
}

.text-orange-50 {
    color: var(--orange-50);
}


/**************** background color **************/

.bg-white-absol-100 {
    background-color: var(--absolute-white);
}

.bg-white-99 {
    background-color: var(--White-99);
}

.bg-white-97 {
    background-color: var(--White-97);
}

.bg-white-95 {
    background-color: var(--White-95);
}

.bg-black-absolute {
    background-color: var(--absolute-black);
}

.bg-orange-50 {
    background-color: var(--orange-50);
}

.bg-orange-90 {
    background-color: var(--Orange-90);
}

.bg-transparent {
    background: transparent;
}


/********************* font weight ******/

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semibold {
    font-weight: var(--fw-semibold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

/************ font sizes *************/

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-body {
    font-size: var(--fs-body);
}

.fs-hero-title {
    font-size: var(--fs-hero-title);
}

.fs-hero-2nd-title {
    font-size: var(--fs-hero-2nd-title);
}

.fs-350 {
    font-size: var(--fs-350);
}

.fs-625 {
    font-size: var(--fs-625);
}

.fs-all-digits {
    font-size: var(--fs-all-digits);
}

.fs-card-bold {
    font-size: var(--fs-300);
}


/* General styling ***/

.body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--grey-15);
    margin: 1rem;
    background: var(--White-95);
}


.container {
    width: min(var(--min-width), calc(100% - (var(--padding) * 2)));
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--padding);
}

@media (max-width: 25em) {
    .container {
        padding: 0.3rem 0 0 0;
    }
}

.top-container {
    margin: 2%;
}

.padding-block-400 {
    padding: var(--size-400);
}

.padding-top-bottom {
    padding: 1.5rem 0 1.5rem 0;
}

.flex-row-fixed {
    display: flex;
}

.flex-row {
    display: flex;
}

.full-width{
    width: 100%;
}

@media (max-width: 24.4em) {
    .flex-row {
        flex-direction: column;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.full-width-button {
    width: 100%;
}

.text-align-center {
    justify-content: center;
}

.text-align-right {
    text-align: right;
}

.line-spacing {
    line-height: 3.5rem;
}

.text-decor-none {
    text-decoration: none;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-baseline {
    align-items: last baseline;
}

.flex-end {
    display: flex;
    justify-content: right;
}

/************* Two Even columns flex grid**/
.flex-grid-two-col {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--White-95);
    justify-content: space-evenly;
}

.flex-box-two-col {

    flex-grow: 1;
    flex-direction: column;
    display: flex;
    row-gap: 1rem;
    width: 46%;
    height: auto;
    margin: 1rem;
    padding: 1.2rem;
    background-color: var(--absolute-white);
    border-radius: 0.6rem;  
    
}

@media (max-width: 24.4em) {

    .flex-grid-two-col {
        flex-direction: row;
    }

    .flex-box-two-col {
        flex-basis: calc(100%);
        align-items: flex-start;
        padding: 1.5rem;
    }

    .fs-course-card-name {
        text-align: left;
    }
}

/************* Two Uneven columns flex grid**/
.flex-grid-two-col-uneven {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--White-95);
    justify-content: space-evenly;
}

.flex-grid-two-col-uneven:first-child {
    width: 100%;
}

.flex-box-two-col-uneven {

    flex-grow: 1;
    background-color: var(--absolute-white);
    border-radius: 0.6rem;
    width: 46%;
    height: auto;
    margin: 1rem;
    padding: 3rem;
}

/************* Three Even columns flex grid**/

.flex-grid-three-col {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--White-95);
    justify-content: space-evenly;

}

.flex-box-three-col {

    flex-grow: 1;
    width: 29%;
    height: auto;
    margin: 1rem;
    padding: 3rem;
    background-color: var(--absolute-white);
    border-radius: 0.6rem;

}

@media (max-width: 35em) {

    .flex-grid-three-col {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--White-95);
        justify-content: space-evenly;
    }

    .flex-box-three-col {
        width: 100%;
        flex-basis: calc(100%);
        align-items: flex-start;
        padding-top: 0.4rem;
        padding-bottom: 0.2rem;
    }


}

/********** Top Banner**********/
.top-banner {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 1.5rem 0 1.5rem 0;
    border-radius: 6px;
}

/*********LOgo***************/
.main-logo {
    display: flex;
    justify-content: center;
    background: var(--orange-50, #ff9500);
    border-radius: 8px;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
    position: relative;
    overflow: hidden;
}

@media (max-width: 24.4em) {
    .main-logo {
        width: 2.5rem;
        height: 2.5rem;
    }
}

/***************** button *****/

.button {
    border-radius: .6rem;
    padding: 1vmax;
    border: 1px solid var(--White-95);
    text-decoration: none;
    height: 3rem;
    display: flex;
    align-items: center;
}

.button-border-none {
    border: 0;
}

@media (max-width: 24.4em) {
    .button {
        height: 2.5rem;
    }
}

.button:hover {
    background-image: linear-gradient(rgba(228, 224, 221, 0.516) 0 0);
}

.button:focus-visible {
    background-image: linear-gradient(rgba(222, 218, 215, 0.516) 0 0);
}

/******************footer********************/

.footer-div-left {
    display: flex;
    width: 48%;
    justify-content: flex-start;
}

.footer-div-middle {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.footer-div-right {
    display: flex;
    width: 18%;

}

.footer-div {
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 35em) {
    .footer-div {
        padding: 1rem 0 1rem 0;
    }
}

.flex-footer {
    display: flex;
}

.social-profiles {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 35em) {
    .footer-div-left {
        width: 100%;
    }

    .footer-div-middle {
        width: 100%;
    }

    .footer-div-right {
        width: 100%;
    }

    .flex-footer {
        flex-direction: column;
    }

    .footer-div-middle {
        justify-content: space-between;
    }

    .footer-div {
        padding: 0.1rem;
    }
}

/***********Faq* Mobile**********/
@media (max-width: 24.4em) {
    .flex-grid-two-col-uneven:first-child {
        margin: .2rem;
        padding: .1rem;
    }
}

/*******pricing section**********/
.ul-li > li{
    border: 1px solid var(--White-95);
    border-radius: 8px;
    margin: 0.2rem;
    padding: 0.4rem;
    list-style-type: none;
}

.flex-grid-two-col-pricing {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--White-95);
    justify-content: center;
    align-items: baseline;
}

.flex-box-two-col-pricing {

    flex-grow: 1;
    flex-direction: column;
    display: flex;
    row-gap: 1rem;
    width: 46%;
    height: auto;
    margin: 1rem;
    padding: 1.2rem;
    background-color: var(--absolute-white);
    border-radius: 0.6rem;  
    
}

@media (max-width: 24.4em) {

    .flex-grid-two-col-pricing {
        flex-direction: row;
    }

    .flex-box-two-col-pricing {
        flex-basis: calc(100%);
        align-items: flex-start;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
    }

}

.pricing-card{
    border: 2px solid var(--White-95);
    border-radius: 8px;
}