.body {
    font-family: Be Vietnam Pro;
}

/********************topbanner css**************************/
.topBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FF9500;
    border-radius: 8px;
    padding: .5vw;
    text-align: center;
    gap: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    overflow: visible;
    display: block;
    margin: auto 0 auto 2px;
}

.txtTop {
    color: var(--absolute-white, #ffffff);
    text-align: left;
    font-family: "BeVietnamPro-Regular", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
}

/***************************Nav Bar*********************************/
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 10px 5px;
    align-items: center;
    padding: 20px 132px 24px 132px;
    align-self: stretch;

}

/*******Nav menu**/
.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    gap: 50px;
    align-items: center;
}

/****Logo**/
.logo {
    background: var(--orange-50, #ff9500);
    border-radius: 8px;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    position: relative;
    overflow: hidden;
}

.shape-17 {
    height: auto;
    position: absolute;
    right: 12.96%;
    left: 12.96%;
    width: 74.07%;
    bottom: 12.96%;
    top: 12.96%;
    height: 74.07%;
    overflow: visible;
}

/****Menu List**/
li>a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 10px;
}

.menuBtn {
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    color: var(--grey-15, #262626);
    text-align: left;
    font-family: "BeVietnamPro-Regular", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
}

.menuBtn:hover {
    background-color: rgb(240, 237, 236);
}

/***Sign In & Sign Up**/
.signInUp {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
/******Sign Up Btn**/
.signUP {
    border-radius: 8px;
    padding: 14px 34px 14px 34px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    border: none;
    color: var(--grey-15, #262626);
    text-align: left;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    color: var(--grey-15, #262626);
    font-family: "BeVietnamPro-Regular", sans-serif;
}

/*****LoginInBtn */
.loginBtn {
    background: var(--orange-50, #ff9500);
    border-radius: 8px;
    padding: 14px 34px 14px 34px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    border: none;
    color: var(--absolute-white, #ffffff);
    text-align: left;
    font-family: "BeVietnamPro-Regular", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
}

/* Explore courses: Get started: yellow color buttons  */
.yellowButtons {
    color: var(--Absolute-White, #FFF);
    text-align: center;
    font-weight: 600;
    background: var(--orange-50, #ff9500);

}


/* view pricing: viewall * 2: Get it now: seeall faqs: buttons */
.whiteButtons {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-weight: 500;

}

/* flexible: benefitNum: */
.largestFont {
    color: var(--Grey-15, #262626);
    text-align: right;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 30% */
}


/* $0: */
.priceNumber {
    color: var(--Grey-15, #262626);
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 73%;
    /* 58.4px */
}



#heroUnlock {
    color: var(--Orange-50, #FF9500);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 72px */
}

/* Benefits: OurCourses: Our testomonials: Our pricing: */
.title {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 72px */
}


/* faqTitle: */
.faqTitle {
    color: var(--Grey-15, #262626);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 57.6px */

}


/* with online: */
.heroTitle2 {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 57px */
}


/* courses card title */
.courseTitle {
    color: var(--Grey-15, #262626);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}


/* /month: tag in Pricing section */
.text1Pricing {
    color: var(--Grey-30, #4C4C4D);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 73%;
    /* 14.6px */
}


/* Available features: in pricing section */
.text2Pricing {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */
}



/* can i enroll: in FAQ/ what kind of: in faq footer:home: */
.text1 {
    color: var(--Grey-15, #262626);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */
}









/* 
COLORS

top banner: navHome: learn from: benefit lorem ipsum: loremipsum our courses: lorem ip Our testi: lorem ipsum orr pricing:
rest: color: var(--Grey-35, #59595A);

still you:color: var(--Grey-20, #333);

4 weeks: Beginner: By John Smith: fit your: Learn the fundamentals:
Access to selected: The web design course: footer:benefits

color: var(--Grey-30, #4C4C4D);
 */





/* Testimonial section profile Sarah L: */
.testProfile {
    color: var(--Grey-20, #333);
    font-weight: 600;
}

/* monthly button: yearly button: free plan:Read Full story: */
.buttonsPricing {
    color: var(--Absolute-White, #FFF);
    text-align: center;
    font-weight: 500;
}


/* Read Full story: in Testimonials*/
.readFull {
    color: var(--Grey-15, #262626);
    text-align: center;
    font-weight: 500;
}



/* Absolutely: in faq section*/
.text1faq {
    color: var(--Grey-30, #4C4C4D);
    letter-spacing: -0.108px;

}

/* Enrollment process in faq */
.text2faq {
    color: var(--Grey-20, #333);
    font-weight: 500;
}


/* footer:email: */
.text1footer {
    color: var(--Grey-15, #262626);
    font-style: normal;
}




/* footer:email: Absolutely: footer:benefits The web design course: 4 weeks: Beginner: By John Smith:
fit your: Learn the fundamentals:
Access to selected: still you:
still you: top banner: navHome: learn from: benefit lorem ipsum: loremipsum our courses: lorem ip Our testi: lorem ipsum orr pricing: */
.fontWeight {
    font-weight: 400;
}



/* footer:benefits footer:email: Enrollment: Absolutely: monthly button: yearly button: free plan:
Sarah L: The web design course:4 weeks: Beginner: By John Smith: fit your: Learn the fundamentals:
Access to selected: still you:
still you:
top banner: navHome: learn from: benefit lorem ipsum: loremipsum our courses: lorem ip Our testi: lorem ipsum orr pricing:
view pricing: viewall * 2: Get it now: seeall faqs: Explore courses: Get started: */
.fontSize {
    font-size: 18px;
    font-style: normal;
}


/* footer:benefits footer:email: Enrollment: Absolutely: monthly button: yearly button: free plan:
Sarah L: The web design course: fit your: Learn the fundamentals:
Access to selected: still you:
still you:
top banner: navHome: learn from: benefit lorem ipsum: loremipsum our courses: lorem ip Our testi: lorem ipsum orr pricing:
view pricing: viewall * 2: Get it now: seeall faqs: Explore courses: Get started: */
.lineHeight {
    line-height: 150%;
    /* 27px */
}

/* 4 weeks: Beginner: By John Smith: */
.lineHeight2 {
    line-height: normal;
}