/* Figma Styles of your File */
:root {
    /* Colors */
    --absolute-white: #ffffff;
    --White-99: #FCFCFD;
    --White-97: #F7F7F8;
    --White-95: #F1F1F3;


    --absolute-black: #000000;

    --orange-50: #ff9500;
    --Orange-90: #FFEACC;

    --grey-10: #1A1A1A;
    --grey-15: #262626;
    --grey-30: #4c4c4d;
    --Grey-35: #59595A;

    /* Fonts */
    --ff-primary: 'Be Vietnam Pro', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 600;

    --fs-100: 0.875rem;
    --fs-150: 1rem: 
    --fs-200: 1.125rem;
    --fs-300: 1.25rem;
    --fs-350: 1.375rem;
    --fs-400: 1.5rem;
    --fs-425: 1.75rem;
    --fs-450: 2.25rem;
    --fs-500: 2.375rem;
    --fs-600: 3rem;
    --fs-625: 3.125rem;
    --fs-650: 3.75rem;
    --fs-700: 5rem;

    --fs-body: var(--fs-200);
    --fs-primary-heading: var(--fs-600);
    --fs-secondary-heading: var(--fs-400);
    --fs-hero-title: var(--fs-600);
    --fs-hero-2nd-title: var(--fs-500);
    --fs-all-digits: var(--fs-700);
}


@media (max-width: 90rem) {
    :root {
        --fs-body: var(--fs-150);
        --fs-primary-heading: var(--fs-500);
        --fs-secondary-heading: var(--fs-300);
        --fs-hero-title: var(--fs-450);
        --fs-hero-2nd-title: var(--fs-425);
        --fs-all-digits: var(--fs-650);
    }


}

@media (max-width: 24.4rem) {
    :root {
        --fs-body: var(--fs-100);
        --fs-primary-heading: var(--fs-425);
        --fs-secondary-heading: var(--fs-300);
        --fs-hero-title: var(--fs-400);
        --fs-hero-2nd-title: var(--fs-100);
        --fs-all-digits: var(--fs-625);
    }

}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Utility classes */



.text-grey-10 {
    color: var(--grey-10);
}

.text-grey-15 {
    color: var(--grey-15);
}

.text-grey-30 {
    color: var(--grey-30);
}

.text-grey-35 {
    color: var(--grey-35);
}
.text-white-100{
    color: var(--absolute-white);
}
.text-orange-50{
    color: var(--orange-50);
}



.bg-white-absol-100 {
    background-color: var(--absolute-white);
}

.bg-white-99 {
    background-color: var(--White-99);
}

.bg-white-97 {
    background-color: var(--White-97);
}

.bg-white-95 {
    background-color: var(--White-95);
}

.bg-black-absolute {
    background-color: var(--absolute-black);
}

.bg-orange-50 {
    background-color: var(--orange-50);
}

.bg-orange-90 {
    background-color: var(--Orange-90);
}



.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semibold {
    font-weight: var(--fw-semibold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}



.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-body{
    font-size: var(--fs-body);
}
.fs-hero-title{
    font-size: var(--fs-hero-title);
}
.fs-hero-2nd-title{
    font-size: var(--fs-hero-2nd-title);
}
.fs-350 {
    font-size: var(--fs-350);
}

.fs-625 {
    font-size: var(--fs-625);
}
.fs-all-digits{
    font-size: var(--fs-all-digits);
}
.fs-card-bold{
    font-size: var(--fs-300);
}


/* General styling ***/

.body{
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--grey-15);    
}

.container{
    padding-top: 2rem;
    --padding: 1rem;
    --min-width: 1440px;
    width: min(var(--min-width, 100% - (var(--padding)*2)));
    margin-inline: auto;
}

.even-columns{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-auto-columns: 1fr;
}



@media (max-width: 24.375em){
    .even-columns{
        grid-auto-flow: column;
    }
}
@media (max-width: 90em){
    
}

.top-banner{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 8px;
    justify-content: center;
    padding: 1.5rem 0 1.5rem 0;
}

.main-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--orange-50, #ff9500);
    border-radius: 8px;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
    position: relative;
    overflow: hidden;
}