/* Figma Styles of your File */
:root {
    /* Colors */
    --absolute-white: #ffffff;
    --absolute-black: #000000;
    --orange-50: #ff9500;
    --orange-70: #ffbf66;
    --orange-75: #ffca80;
    --orange-80: #ffd599;
    --orange-90: #ffeacc;
    --orange-95: #fff4e5;
    --orange-97: #fff9f0;
    --orange-99: #fffdfa;
    --white-90: #e4e4e7;
    --white-95: #f1f1f3;
    --white-97: #f7f7f8;
    --white-99: #fcfcfd;
    --grey-10: #1a1a1a;
    --grey-15: #262626;
    --grey-20: #333333;
    --grey-30: #4c4c4d;
    --grey-35: #59595a;
    --grey-40: #656567;
    --grey-60: #98989a;
    --grey-70: #b3b3b3;
  
    /* Fonts */
    /* Effects */
  }
  